In [2]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [19]:
        df = pd.read_csv('/home/mishraka/Documents/Manjula/Lambda_School/Housing_data_for_analysis/New_construction_US_census_data.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 8, saw 2

In [21]:
 df = pd.read_csv('/home/mishraka/Documents/Manjula/Lambda_School/harvard_dataests/20_modeling_tables/w-8.csv')

In [23]:
df.head(20)

,Table W-8. Metropolitan Trends and Projections for Home Improvement Spending: 2015–2017,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Metropolitan Area,2015,NaN,NaN,NaN,NaN,Annual Percent Change\n2016,NaN,Real Annual \nPercent Change\n2017 (Projected)
2,NaN,Number of Homeowners \n(Millions),Average Per Owner Spending \n($),Total \nExpenditures (Billions of $),Discretionary Share\n(%),Replacement Share \n(%),Existing \nSingle-Family \nHome Sales,Single-Family Starts,Total \nExpenditures
3,"Atlanta, GA",1.26,"2,630",3.3,32,54,9.9,16.4,13.2
4,"Austin, TX",0.42,NaN,NaN,NaN,NaN,-1.1,14.1,6.5
5,"Baltimore, MD",0.68,NaN,NaN,NaN,NaN,-4.0,1.0,-1.5
6,"Birmingham, AL",0.30,NaN,NaN,NaN,NaN,6.4,11.4,8.9
7,"Boston, MA",1.13,"3,970",4.5,35,50,19.9,13.2,16.5
8,"Buffalo, NY",0.31,NaN,NaN,NaN,NaN,-5.6,-1.4,-3.5
9,"Charlotte, NC",0.59,NaN,NaN,NaN,NaN,11.6,10.7,11.2
10,"Chicago, IL",2.19,"2,930",6.4,28,59,-4.8,8.8,2.0
11,"Cincinnati, OH",0.55,"2,990",1.6,38,47,5.5,19.9,12.7
12,"Cleveland, OH",0.55,"2,960",1.6,32,48,15.7,10.2,13.0
13,"Columbus, OH",0.47,NaN,NaN,NaN,NaN,7.9,23.3,15.6
14,"Dallas-Fort Worth, TX",1.46,"3,060",4.5,23,51,1.1,4.9,3.0
15,"Denver, CO",0.67,"4,760",3.2,31,48,-2.5,8.8,3.2
16,"Detroit, MI",1.19,"2,890",3.4,30,54,-0.3,14.5,7.1
17,"Hartford, CT",0.31,NaN,NaN,NaN,NaN,9.6,11.1,10.4
18,"Houston, TX",1.36,"2,770",3.8,35,48,-6.8,-3.4,-5.1
19,"Indianapolis, IN",0.48,NaN,NaN,NaN,NaN,2.6,17.1,9.9

In [24]:
df.shape

(61, 9)

In [25]:
df

,Table W-8. Metropolitan Trends and Projections for Home Improvement Spending: 2015–2017,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Metropolitan Area,2015,NaN,NaN,NaN,NaN,Annual Percent Change\n2016,NaN,Real Annual \nPercent Change\n2017 (Projected)
2,NaN,Number of Homeowners \n(Millions),Average Per Owner Spending \n($),Total \nExpenditures (Billions of $),Discretionary Share\n(%),Replacement Share \n(%),Existing \nSingle-Family \nHome Sales,Single-Family Starts,Total \nExpenditures
3,"Atlanta, GA",1.26,"2,630",3.3,32,54,9.9,16.4,13.2
4,"Austin, TX",0.42,NaN,NaN,NaN,NaN,-1.1,14.1,6.5
5,"Baltimore, MD",0.68,NaN,NaN,NaN,NaN,-4.0,1.0,-1.5
6,"Birmingham, AL",0.30,NaN,NaN,NaN,NaN,6.4,11.4,8.9
7,"Boston, MA",1.13,"3,970",4.5,35,50,19.9,13.2,16.5
8,"Buffalo, NY",0.31,NaN,NaN,NaN,NaN,-5.6,-1.4,-3.5
9,"Charlotte, NC",0.59,NaN,NaN,NaN,NaN,11.6,10.7,11.2
10,"Chicago, IL",2.19,"2,930",6.4,28,59,-4.8,8.8,2.0
11,"Cincinnati, OH",0.55,"2,990",1.6,38,47,5.5,19.9,12.7
12,"Cleveland, OH",0.55,"2,960",1.6,32,48,15.7,10.2,13.0
13,"Columbus, OH",0.47,NaN,NaN,NaN,NaN,7.9,23.3,15.6
14,"Dallas-Fort Worth, TX",1.46,"3,060",4.5,23,51,1.1,4.9,3.0
15,"Denver, CO",0.67,"4,760",3.2,31,48,-2.5,8.8,3.2
16,"Detroit, MI",1.19,"2,890",3.4,30,54,-0.3,14.5,7.1
17,"Hartford, CT",0.31,NaN,NaN,NaN,NaN,9.6,11.1,10.4
18,"Houston, TX",1.36,"2,770",3.8,35,48,-6.8,-3.4,-5.1
19,"Indianapolis, IN",0.48,NaN,NaN,NaN,NaN,2.6,17.1,9.9
20,"Jacksonville, FL",0.34,NaN,NaN,NaN,NaN,2.3,20.6,11.4
21,"Kansas City, MO",0.52,"3,020",1.6,31,54,10.6,20.6,15.6
22,"Las Vegas, NV",0.38,NaN,NaN,NaN,NaN,-8.4,11.6,1.6
23,"Los Angeles, CA",2.02,"3,420",6.9,39,42,-2.0,7.0,2.5
24,"Louisville, KY",0.33,NaN,NaN,NaN,NaN,1.1,14.9,8.0
25,"Memphis, TN",0.29,"2,110",0.6,23,59,8.7,17.7,13.2
26,"Miami, FL",1.15,"2,870",3.3,42,45,-2.7,-4.4,-3.6
27,"Milwaukee, WI",0.38,"3,080",1.2,32,56,25.2,24.7,25.0
28,"Minneapolis, MN",0.93,NaN,NaN,NaN,NaN,13.2,20.1,16.7
29,"Nashville, TN",0.45,NaN,NaN,NaN,NaN,6.2,12.9,9.5
...,...,...,...,...,...,...,...,...,...
31,"New York, NY",3.65,"5,340",19.5,36,47,3.9,-2.8,0.6
32,"Oklahoma City, OK",0.32,NaN,NaN,NaN,NaN,-2.7,-9.6,-6.2
33,"Orlando, FL",0.50,NaN,NaN,NaN,NaN,2.1,22.8,12.4
34,"Philadelphia, PA",1.50,"3,420",5.1,33,54,8.3,7.0,7.6
35,"Phoenix, AZ",1.02,"3,710",3.8,33,48,3.4,9.9,6.6
36,"Pittsburgh, PA",0.68,"3,190",2.2,30,42,-0.4,1.2,0.4
37,"Portland, OR",0.55,"3,950",2.2,37,44,2.5,4.2,3.4
38,"Providence, RI",0.37,NaN,NaN,NaN,NaN,21.5,14.3,17.9
39,"Raleigh, NC",0.30,"3,430",1.0,38,47,1.3,10.1,5.7
40,"Richmond, VA",0.31,NaN,NaN,NaN,NaN,10.1,10.1,10.1
41,"Riverside, CA",0.79,"2,220",1.8,28,50,-0.4,8.4,4.0
42,"Sacramento, CA",0.47,NaN,NaN,NaN,NaN,3.5,18.2,10.8
43,"Salt Lake City, UT",0.25,NaN,NaN,NaN,NaN,5.4,14.1,9.7
44,"San Antonio, TX",0.48,NaN,NaN,NaN,NaN,2.0,1.0,1.5
45,"San Diego, CA",0.58,NaN,NaN,NaN,NaN,0.5,-26.0,-12.8
46,"San Francisco, CA",0.90,"5,030",4.5,42,36,-4.9,2.4,-1.3
47,"San Jose, CA",0.37,NaN,NaN,NaN,NaN,-4.3,8.6,2.1
48,"Seattle, WA",0.85,"3,520",3.0,39,45,5.0,7.8,6.4
49,"St. Louis, MO",0.76,NaN,NaN,NaN,NaN,7.9,9.5,8.7
50,"Tampa, FL",0.73,NaN,NaN,NaN,NaN,3.6,13.5,8.6
51,"Virginia Beach, VA",0.39,NaN,NaN,NaN,NaN,8.1,-2.0,3.0
52,"Washington, DC",1.34,"5,230",7.0,45,45,2.3,5.3,3.8
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,50 Metro Average,0.76,NaN,NaN,NaN,NaN,4.0,9.5,6.8
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,United States,74.36,"2,970",221.1,33,50,3.0,9.3,6.1
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Notes: Data includes the largest 50 metro area...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Source: JCHS tabulations of Moody’s Analytics ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df_atlas = pd.read_csv('/home/mishraka/Documents/Manjula/Lambda_School/The_Opportunity_Atlas/cty_covariates.csv')

In [27]:
df_atlas.head(15)

,county,state,cz,czname,hhinc_mean2000,mean_commutetime2000,frac_coll_plus2010,frac_coll_plus2000,foreign_share2010,med_hhinc2016,...,singleparent_share2000,traveltime15_2010,emp2000,mail_return_rate2010,ln_wage_growth_hs_grad,nonwhite_share2010,popdensity2010,popdensity2000,ann_avg_job_growth_2004_2013,job_density_2013
0,1,1,11101.0,Montgomery,74699.969,28.490602,0.221990,0.189735,0.020155,54052.804457,...,0.240811,0.204163,0.609586,82.333183,-0.063314,0.227538,91.802681,91.802681,0.010145,40.719135
1,3,1,11001.0,Mobile,76064.086,26.501080,0.260710,0.230036,0.037592,52003.093474,...,0.237883,0.275326,0.577026,80.034088,0.030093,0.164952,114.647510,114.647510,0.012950,50.085987
2,5,1,10301.0,Eufaula,51246.004,24.047514,0.133496,0.107450,0.028144,33114.854828,...,0.393263,0.376049,0.453271,74.899071,0.189366,0.532469,31.029207,31.029207,-0.020756,9.230672
3,7,1,10801.0,Tuscaloosa,55094.492,32.875317,0.099241,0.070026,0.006859,39846.446520,...,0.257294,0.252683,0.494241,70.003571,-0.020073,0.249793,36.806339,36.806339,-0.004645,12.875392
4,9,1,10700.0,Birmingham,62749.727,36.189240,0.126335,0.096214,0.047343,46361.122396,...,0.173408,0.194344,0.577810,83.100349,0.096463,0.111127,88.902191,88.902191,-0.008120,36.175354
5,11,1,9800.0,Auburn,41518.551,26.251190,0.109722,0.076166,0.013493,31304.783397,...,0.596022,0.392135,0.374664,47.211689,0.363833,0.780832,17.523945,17.523945,0.026254,6.954023
6,13,1,11101.0,Montgomery,53386.293,26.863214,0.108062,0.102817,0.011252,34026.987254,...,0.387335,0.352952,0.484035,69.698700,0.010280,0.459398,26.964750,26.964750,-0.000243,10.563457
7,15,1,9600.0,LaGrange,60064.410,24.250038,0.163418,0.157424,0.025508,42474.473064,...,0.306194,0.314672,0.542259,80.268486,0.098774,0.263865,200.312190,200.312190,-0.016005,72.892357
8,17,1,9600.0,LaGrange,54240.402,23.371609,0.108886,0.095114,0.008854,35054.860061,...,0.365356,0.278022,0.548176,80.745163,-0.038835,0.418588,57.356522,57.356522,-0.010351,23.566212
9,19,1,6600.0,Rome,54810.438,30.194675,0.107227,0.096436,0.004998,38793.719997,...,0.215280,0.262446,0.528716,79.229576,0.128708,0.079264,46.936970,46.936970,-0.008295,19.232437
10,21,1,10700.0,Birmingham,58160.180,34.786503,0.122155,0.099209,0.039486,42600.330866,...,0.225082,0.235897,0.571044,80.541008,0.101260,0.188988,62.990181,62.990181,-0.003690,26.109396
11,23,1,10802.0,Demopolis,53174.992,35.823273,0.106684,0.094706,0.003491,33545.759651,...,0.336514,0.252590,0.441790,72.870117,0.413156,0.444404,15.171319,15.171319,-0.017208,4.674329
12,25,1,11001.0,Mobile,55590.383,26.946381,0.133543,0.120444,0.002342,32990.172144,...,0.309966,0.374389,0.495129,72.677635,0.055336,0.460264,20.858887,20.858887,-0.030749,5.769239
13,27,1,9500.0,Talladega,49747.879,27.168133,0.096152,0.077877,0.018981,38532.553833,...,0.257087,0.292969,0.527085,81.160637,0.046789,0.197100,23.067715,23.067715,-0.012093,8.184303
14,29,1,9600.0,LaGrange,54088.742,30.513508,0.085139,0.092221,0.010643,35424.611608,...,0.200585,0.252700,0.558040,78.694389,0.259204,0.067860,26.730940,26.730940,-0.017793,9.610784

In [28]:
df_atlas.shape

(3223, 35)